<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/protos.css">
    <title><!--Here should be your caption --></title>

    <script type="text/javascript">
    var set_mockup_name = function (name) {
      var name_of_mockups = document.getElementById('name_of_mockup');
      name_of_mockups.innerHTML = name;
      }

    var set_mockup_comment = function(text) {
      var comment = document.getElementById('comment');
      comment.innerHTML = text;
    }

      var load_data = function (data) {
        for (key in data) {
          var element = document.getElementById(key);
          element.innerHTML = data[key]
        }

      }

      var link_css = function (path) {
        var link = document.createElement('link');
        link.setAttribute('rel', 'stylesheet');
        link.setAttribute('href', path);              

        document.head.appendChild(link);

      }
    </script>

  </head>
  <body>
    <div class="wrapper">
      <div class="mockup-name" id="name_of_mockup">

      </div>
